.cabinet {
   margin-top: 5rem;
   display:flex;
}


.cabinet__form {
   width: 34rem;
}

.cabinet__avatar {
   padding-left: 11rem;
   flex-grow: 1;
   margin-bottom: 1.5rem;
}

.cabinet__avatar-image {
   display:block;
}

.cabinet__file {
   font-size: 1.4rem;
   color: $blue;
   text-decoration: underline;
   cursor: pointer;

   input {
   display:none;
   }
}