.tags {
   margin-bottom: 3rem;
   display:flex;
   flex-wrap: wrap;
}

.tags-item {
   margin: 0 1rem 1rem 0;
   background-color: #EA8C1E;
   border-radius: 3px;
   padding: 0.4rem 0.9rem;
   font-size: 1.1rem;
   line-height: 1.3rem;
}