<div class="modal">
   <div class="modal__content modal__content--contact">
      <button type="submit" class="modal__close">
         <img src="/assets/images/close.svg" alt="">
      </button>

      <form action="" class="form form--auth">
         <div class="form__group form__group--md">
            <input placeholder="Ваше имя" type="text" class="form__control">
            <span class="form__line"></span>
         </div>
      
         <div class="form__group form__group--md">
            <input placeholder="Ваше email" type="email" class="form__control" value="">
            <span class="form__line"></span>
         </div>
      
         <div class="form__group form__group--md">
            <textarea placeholder="Текст сообщения"  class="form__control form__control--textarea" value=""></textarea>
            <span class="form__line"></span>
         </div>
      
         <div class="form__footer">
            <div class="form__group form__group--md">
               <button type="submit" class="btn btn--blue btn--rounded btn--sm">Отправить</button>
            </div>

         </div>
      </form>

   </div><!-- /.modal__content -->
</div><!-- /.modal -->