<div class="modal">
   <div class="modal__content">
      <button type="submit" class="modal__close">
         <img src="/assets/images/close.svg" alt="">
      </button>

     <ul class="social">
        <li class="social__item">
           <a href="" class="social__link">
           <img src="/assets/images/share/vk.svg" alt="">
           </a>
        </li>
        <li class="social__item">
         <a href="" class="social__link">
         <img src="/assets/images/share/facebook.svg" alt="">
         </a>
      </li>
      <li class="social__item">
         <a href="" class="social__link">
         <img src="/assets/images/share/twitter.svg" alt="">
         </a>
      </li>
      <li class="social__item">
         <a href="" class="social__link">
         <img src="/assets/images/share/copy.svg" alt="">
         </a>
      </li>
     </ul>

   </div><!-- /.modal__content -->
</div><!-- /.modal -->